Repository bvisible/mcp-ssh-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-js-syntax, eslint, prettier-js, check-python-syntax, test-profiles, test-aliases, test-hooks, validate-all-profiles

.pre-commit-config.yaml:

repos:
  # JavaScript/Node.js checks
  - repo: local
    hooks:
      - id: check-js-syntax
        name: Check JavaScript syntax
        entry: node --check
        language: system
        files: '\.js$'
        
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: system
        files: '\.js$'
        require_serial: false
        
      - id: prettier-js
        name: Prettier JavaScript
        entry: npx prettier --write
        language: system
        files: '\.(js|json)$'
        exclude: 'package-lock\.json'

  # Python checks
  - repo: local
    hooks:
      - id: check-python-syntax
        name: Check Python syntax
        entry: python -m py_compile
        language: system
        files: '\.py$'
        
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        files: '\.py$'
        
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: '\.py$'
        
  # General checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: 'package-lock\.json'
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
      
  # Security check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json
        
  # Custom validation hooks
  - repo: local
    hooks:
      - id: test-profiles
        name: Test Profile System
        entry: node tests/test-profiles.js
        language: system
        pass_filenames: false
        files: 'profiles/.*\.json$|src/profile-loader\.js$'
        
      - id: test-aliases
        name: Test Command Aliases
        entry: node tests/test-command-aliases.js
        language: system
        pass_filenames: false
        files: 'src/command-aliases\.js$'
        
      - id: test-hooks
        name: Test Hooks System
        entry: node tests/test-hooks.js
        language: system
        pass_filenames: false
        files: 'src/hooks-system\.js$'
        
      - id: validate-all-profiles
        name: Validate all profile JSON files
        entry: bash -c 'for f in profiles/*.json; do python -m json.tool "$f" > /dev/null || exit 1; done'
        language: system
        pass_filenames: false
        files: 'profiles/.*\.json$'
        
      - id: check-no-env-in-git
        name: Ensure .env is not tracked
        entry: bash -c '! git ls-files | grep -q "^\.env$"'
        language: system
        pass_filenames: false
        always_run: true

docs: document the typecheck gate and the knip/typescript peer constraint
  CHANGELOG.md
  CLAUDE.md
Due: none

fix: support Windows local paths in ssh_sync
  CHANGELOG.md
  README.md
  package.json
  src/index.js
  src/rsync-path.js
  tests/test-rsync-path.js
Due: check-js-syntax, eslint, prettier-js

fix(sync): pass an already-MSYS2 local path through untouched
  CHANGELOG.md
  README.md
  src/rsync-path.js
  tests/test-rsync-path.js
Due: check-js-syntax, eslint, prettier-js

chore: release v3.8.0
  CHANGELOG.md
  README.md
  package.json
Due: prettier-js

chore: add npm lockfile
  .gitignore
  package-lock.json
Due: none

ci: install with npm ci, make lint and typecheck blocking
  .github/dependabot.yml
  .github/workflows/quality.yml
  .github/workflows/test.yml
Due: none

docs: document the committed lockfile and its release duty
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  mcp-ssh-manager-setup.md
Due: none

test(lockfile): guard the committed lockfile against drift and tampering
  package.json
  tests/test-lockfile.js
Due: check-js-syntax, eslint, prettier-js

chore: release v3.8.1
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: prettier-js

fix(security): stop leaking the sudo password to the remote process list
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  server.json
  src/deploy-helper.js
  src/index.js
  src/ssh-manager.js
  tests/test-sudo-stdin.js
Due: check-js-syntax, eslint, prettier-js

ci: publish server.json to the MCP Registry over Actions OIDC
  .github/workflows/publish-mcp-registry.yml
Due: none

fix(ci): quote style in deploy-helper, and pin scorecard-action to a real tag
  .github/workflows/scorecard.yml
  src/deploy-helper.js
Due: check-js-syntax, eslint, prettier-js

chore: release v3.8.3
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  server.json
Due: prettier-js

fix(ci): create the GitHub release if the SBOM step finds none
  .github/workflows/release.yml
Due: none

ci(security): pin every action by SHA, add CodeQL, make Release re-runnable
  .github/workflows/codeql.yml
  .github/workflows/publish-mcp-registry.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/test.yml
Due: none

fix(security): redact secrets in the logger, repair a broken example, close TOCTOUs
  CHANGELOG.md
  examples/backup-workflow.js
  package.json
  scripts/validate.sh
  src/config-loader.js
  src/logger.js
  src/ssh-key-manager.js
  tests/test-logger-redaction.js
Due: check-js-syntax, eslint, prettier-js

docs(examples): backup-workflow is documentation, not a JavaScript API
  CHANGELOG.md
  README.md
  examples/backup-workflow.md
Due: none

fix(security): close the last TOCTOU on known_hosts
  src/ssh-key-manager.js
Due: check-js-syntax, eslint, prettier-js

chore: release v3.8.4
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  server.json
Due: prettier-js

fix(security): pin detect-secrets, harden test temp files, drop dead import
  debug/test-logger.js
  scripts/setup-hooks.sh
  tests/test-lifecycle.js
  tests/test-logger-redaction.js
  tests/test-profiles.js
Due: check-js-syntax, eslint, prettier-js

ci(security): least-privilege tokens, pin the setup script, keep LOG_LEVELS public
  .github/workflows/quality.yml
  .github/workflows/test.yml
  knip.json
  scripts/setup-hooks.sh
  src/logger.js
Due: check-js-syntax, eslint, prettier-js

fix(security): close three command-injection advisories (GHSA-qwwm/796j/m793)
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  server.json
  src/backup-manager.js
  src/database-manager.js
  src/health-monitor.js
  src/index.js
  src/shell-quote.js
  tests/test-backup-monitor-injection.js
Due: check-js-syntax, eslint, prettier-js

test(profiles): read-then-handle instead of check-then-read
  tests/test-profiles.js
Due: check-js-syntax, eslint, prettier-js

feat(v4): encrypted credential vault, with CLI and loader integration
  ROADMAP-V4.md
  cli/ssh-manager
  cli/vault.js
  package.json
  src/config-loader.js
  src/secret-store.js
  tests/test-secret-store.js
Due: check-js-syntax, eslint, prettier-js

ci: run the pipeline on the v4 branch too
  .github/workflows/codeql.yml
  .github/workflows/quality.yml
  .github/workflows/test.yml
Due: none

feat(v4): human-in-the-loop approval broker
  ROADMAP-V4.md
  cli/vault.js
  package.json
  src/approval.js
  src/audit.js
  src/config-loader.js
  src/index.js
  tests/test-approval.js
Due: check-js-syntax, eslint, prettier-js

feat(v4): control plane — approval queue and agent timeline
  ROADMAP-V4.md
  cli/control.js
  cli/ssh-manager
  package.json
  src/control-plane-ui.html
  src/control-plane.js
  tests/test-control-plane.js
Due: check-js-syntax, eslint, prettier-js

feat(v4): Homebrew formula, kept current by the release workflow
  .github/workflows/release.yml
  Formula/ssh-manager.rb
  ROADMAP-V4.md
Due: none

docs: document the v4 control plane in the README
  README.md
Due: none

ci: audit and install the Homebrew formula on a macOS runner
  .github/workflows/homebrew.yml
Due: none

ci: audit the formula through a throwaway local tap
  .github/workflows/homebrew.yml
Due: none

fix(brew): drop the redundant 0 from shell_output
  Formula/ssh-manager.rb
Due: none

feat(v4): manage servers from the control plane, not just the CLI
  ROADMAP-V4.md
  src/control-plane-ui.html
  src/control-plane.js
  tests/test-control-plane.js
Due: check-js-syntax, eslint, prettier-js

feat(v4): native macOS desktop app around the control plane
  .github/workflows/homebrew.yml
  .gitignore
  ROADMAP-V4.md
  desktop/ControlPlaneApp.swift
  desktop/build.sh
Due: none

fix(v4): the control plane must not outlive whatever launched it
  cli/control.js
  desktop/ControlPlaneApp.swift
Due: check-js-syntax, eslint, prettier-js

feat(v4): watch the agent work — live command streaming
  ROADMAP-V4.md
  cli/control.js
  desktop/ControlPlaneApp.swift
  package.json
  src/control-plane-ui.html
  src/control-plane.js
  src/index.js
  src/live-stream.js
  src/ssh-manager.js
  tests/test-live-stream.js
Due: check-js-syntax, eslint, prettier-js

feat(v4): server health screen, probed on demand
  ROADMAP-V4.md
  src/control-plane-ui.html
  src/control-plane.js
  src/ssh-manager.js
  tests/test-control-plane.js
Due: check-js-syntax, eslint, prettier-js

feat(v4): options screen — groups and host keys; fix a shell injection found doing it
  ROADMAP-V4.md
  src/control-plane-ui.html
  src/control-plane.js
  src/ssh-key-manager.js
  tests/test-backup-monitor-injection.js
  tests/test-control-plane.js
Due: check-js-syntax, eslint, prettier-js

fix: removing an absent host key is not an error
  src/ssh-key-manager.js
Due: check-js-syntax, eslint, prettier-js
