Repository bvisible/mcp-ssh-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-js-syntax, eslint, prettier-js, check-python-syntax, test-profiles, test-aliases, test-hooks, validate-all-profiles

check-js-syntax:
  name: Check JavaScript syntax
  entry: node --check
  language: system

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: system
  require_serial: false

prettier-js:
  name: Prettier JavaScript
  entry: npx prettier --write
  language: system

check-python-syntax:
  name: Check Python syntax
  entry: python -m py_compile
  language: system

test-profiles:
  name: Test Profile System
  entry: node tests/test-profiles.js
  language: system
  pass_filenames: false

test-aliases:
  name: Test Command Aliases
  entry: node tests/test-command-aliases.js
  language: system
  pass_filenames: false

test-hooks:
  name: Test Hooks System
  entry: node tests/test-hooks.js
  language: system
  pass_filenames: false

validate-all-profiles:
  name: Validate all profile JSON files
  entry: bash -c 'for f in profiles/*.json; do python -m json.tool "$f" > /dev/null || exit 1; done'
  language: system
  pass_filenames: false

feat(v4): ship three skills with the package
  ROADMAP-V4.md
  package.json
  skills/README.md
  skills/ssh-incident/SKILL.md
  skills/ssh-operations/SKILL.md
  skills/ssh-restricted/SKILL.md
  tests/test-skills.js
Due: check-js-syntax, eslint, prettier-js

feat(v4): show open tunnels, via a published state file
  ROADMAP-V4.md
  src/control-plane-ui.html
  src/control-plane.js
  src/tunnel-manager.js
  tests/test-control-plane.js
Due: check-js-syntax, eslint, prettier-js

feat(v4): interactive terminal — take the keyboard on any server
  .eslintignore
  package.json
  src/approval.js
  src/control-plane-ui.html
  src/control-plane.js
  src/ssh-key-manager.js
  tests/test-control-plane.js
  tests/test-terminal.js
  vendor/xterm/LICENSE
  vendor/xterm/README.md
  vendor/xterm/xterm.css
  vendor/xterm/xterm.js
Due: check-js-syntax, eslint, prettier-js

docs(v4): record the terminal, and correct the PTY claim
  ROADMAP-V4.md
Due: none

fix(ui): keep sessions mounted, or switching tabs kills the shell
  dist/ui/app.js
  dist/ui/index.html
  ui/src/App.tsx
  ui/src/pages/ShellPage.tsx
Due: check-js-syntax, eslint, prettier-js

feat(ui): use TransHub's actual components, and put both filesystems side by side
  dist/ui/app.css
  dist/ui/app.js
  src/control-plane.js
  tests/test-files.js
  ui/package-lock.json
  ui/package.json
  ui/src/App.tsx
  ui/src/components/browser/Breadcrumb.tsx
  ui/src/components/browser/FilePane.tsx
  ui/src/components/browser/FilePaneContextMenu.tsx
  ui/src/components/browser/FilePaneRow.tsx
  ui/src/components/layout/Sidebar.tsx
  ui/src/components/servers/CategoryGroup.tsx
  ui/src/components/servers/ServerCard.tsx
  ui/src/components/servers/ServerGrid.tsx
  ui/src/lib/api.ts
  ui/src/lib/file-types.ts
  ui/src/lib/i18n.ts
  ui/src/lib/path.ts
  ui/src/lib/shell.ts
  ui/src/locales/en.json
  ui/src/main.tsx
  ui/src/pages/FilesPage.tsx
  ui/src/pages/ServersPage.tsx
  ui/src/stores/servers.store.ts
  ui/src/stores/settings.store.ts
  ui/src/stores/workspace.store.ts
  ui/src/stores/workspace.ts
  ui/src/types/electron.ts
Due: check-js-syntax, eslint, prettier-js

feat(ui): move the last five screens over, and delete what they replaced
  dist/ui/app.css
  dist/ui/app.js
  src/control-plane-ui.html
  src/control-plane.js
  tests/test-terminal.js
  ui/README.md
  ui/src/App.tsx
  ui/src/lib/api.ts
  ui/src/pages/ActivityPage.tsx
  ui/src/pages/HealthPage.tsx
  ui/src/pages/LivePage.tsx
  ui/src/pages/OptionsPage.tsx
  ui/src/pages/Placeholder.tsx
  ui/src/pages/WaitingPage.tsx
  vendor/README.md
  vendor/xterm/LICENSE
  vendor/xterm/README.md
  vendor/xterm/xterm.css
  vendor/xterm/xterm.js
Due: check-js-syntax, eslint, prettier-js

feat(vault): recovery files, and stop the vault lying about being readable
  cli/vault.js
  package.json
  src/secret-store.js
  src/vault-recovery.js
  tests/test-vault-recovery.js
Due: check-js-syntax, eslint, prettier-js

feat(migration): offer the vault instead of waiting to be discovered
  dist/ui/app.css
  dist/ui/app.js
  package.json
  src/config-loader.js
  src/control-plane.js
  tests/test-upgrade.js
  ui/src/components/servers/MigrationBanner.tsx
  ui/src/lib/api.ts
  ui/src/pages/ServersPage.tsx
Due: check-js-syntax, eslint, prettier-js

docs: how to upgrade, and what the key not travelling means
  README.md
  docs/MIGRATION.md
Due: none

feat(options): groups become editable, and can run a command across a tier
  dist/ui/app.css
  dist/ui/app.js
  src/control-plane.js
  ui/src/components/servers/GroupDialog.tsx
  ui/src/lib/api.ts
  ui/src/pages/OptionsPage.tsx
Due: check-js-syntax, eslint, prettier-js

feat(desktop): a real application for macOS, Windows and Linux
  .gitignore
  desktop/electron/.gitignore
  desktop/electron/electron-builder.yml
  desktop/electron/main.js
  desktop/electron/package-lock.json
  desktop/electron/package.json
  desktop/electron/prepare-engine.mjs
  desktop/electron/resources/entitlements.mac.plist
  desktop/electron/resources/icon.png
  dist/ui/app.js
  package.json
  src/control-plane.js
  tests/test-notify.js
  ui/src/App.tsx
  ui/src/components/layout/Sidebar.tsx
  ui/src/lib/notify.ts
Due: check-js-syntax, eslint, prettier-js

feat(ui): the dark mode that was there all along
  desktop/electron/main.js
  dist/ui/app.css
  dist/ui/app.js
  ui/src/App.tsx
  ui/src/components/layout/Sidebar.tsx
  ui/src/globals.css
  ui/src/pages/LivePage.tsx
  ui/src/pages/ShellPage.tsx
  ui/src/stores/theme.ts
Due: check-js-syntax, eslint, prettier-js

feat(ui): saved commands, Options at the bottom, and a terminal that follows the theme
  dist/ui/app.css
  dist/ui/app.js
  package.json
  src/control-plane.js
  src/saved-commands.js
  tests/test-saved-commands.js
  ui/src/components/commands/CommandDialog.tsx
  ui/src/components/commands/CommandsDropdown.tsx
  ui/src/components/layout/Sidebar.tsx
  ui/src/globals.css
  ui/src/lib/api.ts
  ui/src/pages/OptionsPage.tsx
  ui/src/pages/ShellPage.tsx
Due: check-js-syntax, eslint, prettier-js

feat: alert thresholds, a command log, and agent output rendered as a terminal
  ROADMAP-V4.md
  dist/ui/app.css
  dist/ui/app.js
  package.json
  src/command-log.js
  src/control-plane.js
  tests/test-command-log.js
  ui/src/components/terminal/TerminalOutput.tsx
  ui/src/lib/api.ts
  ui/src/lib/terminal-theme.ts
  ui/src/pages/ActivityPage.tsx
  ui/src/pages/HealthPage.tsx
  ui/src/pages/LivePage.tsx
  ui/src/pages/OptionsPage.tsx
  ui/src/pages/ShellPage.tsx
Due: check-js-syntax, eslint, prettier-js

feat(brand): an icon — the prompt, and the mark of what types into it
  brand/README.md
  brand/icon.svg
  brand/mark.svg
  brand/wordmark.svg
  desktop/electron/resources/icon.png
  dist/ui/index.html
  ui/index.html
Due: none

docs: the README leads with what the control plane looks like
  README.md
  dist/ui/app.js
  docs/images/icon.png
  docs/images/v4-files.png
  docs/images/v4-health.png
  docs/images/v4-live.png
  docs/images/v4-servers.png
  docs/images/v4-waiting.png
  docs/images/wordmark-dark.png
  docs/images/wordmark.png
  ui/src/components/terminal/TerminalOutput.tsx
Due: check-js-syntax, eslint, prettier-js

fix(test): stop the command-log suite hanging forever on Linux
  .github/workflows/test.yml
  src/secret-store.js
  tests/test-command-log.js
Due: check-js-syntax, eslint, prettier-js

docs: regenerate the screenshots from a reproducible demo, in both wrappers
  .gitignore
  README.md
  docs/images/v4-files-app.png
  docs/images/v4-files-browser.png
  docs/images/v4-files.png
  docs/images/v4-health-app.png
  docs/images/v4-health-browser.png
  docs/images/v4-health.png
  docs/images/v4-live-app.png
  docs/images/v4-live-browser.png
  docs/images/v4-live.png
  docs/images/v4-servers-app.png
  docs/images/v4-servers-browser.png
  docs/images/v4-servers.png
  docs/images/v4-waiting-app.png
  docs/images/v4-waiting-browser.png
  docs/images/v4-waiting.png
  scripts/capture-screenshots.mjs
  scripts/demo-env.mjs
  scripts/frame-screenshots.py
Due: check-python-syntax

docs: record the control plane refusing a command, and put it in the README
  README.md
  docs/images/control-plane.gif
  docs/videos/control-plane.mp4
  scripts/record-demo.mjs
Due: none

docs: rewrite the README around what the thing does, not what it has
  README.md
  cli/ssh-manager
Due: none

docs: describe the deploy example as deploy, not as rsync
  README.md
Due: none

docs: put the demo inside a laptop
  README.md
  docs/images/control-plane.gif
  docs/videos/control-plane.mp4
  scripts/macbook-mockup.py
  scripts/record-demo.mjs
Due: check-python-syntax

docs: drop the black stage — the hero now follows GitHub's theme
  README.md
  docs/images/control-plane-dark.gif
  docs/images/control-plane.gif
  docs/videos/control-plane.mp4
  scripts/macbook-mockup.py
Due: check-python-syntax

feat: 4.0.0 — approval leaves the filesystem, and the app gets a menu bar
  CHANGELOG.md
  README.md
  cli/lib/colors.sh
  cli/lib/menu.sh
  cli/ssh-manager
  desktop/electron/electron-builder.yml
  desktop/electron/main.js
  desktop/electron/resources/trayTemplate.png
  desktop/electron/resources/trayTemplate@2x.png
  dist/ui/app.js
  package-lock.json
  package.json
  scripts/make-tray-icon.py
  scripts/test-upgrade-from-published.mjs
  server.json
  src/approval.js
  src/config-loader.js
  tests/test-approval.js
  ui/src/lib/notify.ts
Due: check-js-syntax, eslint, prettier-js, check-python-syntax

fix(desktop): the packaged app shipped without its dependencies
  desktop/electron/electron-builder.yml
  desktop/electron/main.js
Due: check-js-syntax, eslint, prettier-js

docs: write down what shipping the desktop app actually requires
  README.md
  docs/DISTRIBUTION.md
Due: none

build: one command to answer "is this DMG shippable?"
  docs/DISTRIBUTION.md
  scripts/verify-mac-build.sh
Due: none

feat: import servers from wherever they already are, and export them back
  README.md
  cli/portability.js
  cli/ssh-manager
  package.json
  src/server-export.js
  src/server-import.js
  src/xlsx.js
  tests/test-portability.js
Due: check-js-syntax, eslint, prettier-js

feat(ui): one design across the screens, Nora's orange, and a rail that starts out of the way
  dist/ui/app.css
  dist/ui/app.js
  scripts/capture-screenshots.mjs
  ui/src/App.tsx
  ui/src/components/browser/FilePane.tsx
  ui/src/components/browser/FilePaneRow.tsx
  ui/src/components/layout/EmptyState.tsx
  ui/src/components/layout/PageHeader.tsx
  ui/src/components/layout/Sidebar.tsx
  ui/src/components/servers/ServerDialog.tsx
  ui/src/globals.css
  ui/src/lib/desktop.ts
  ui/src/pages/ActivityPage.tsx
  ui/src/pages/HealthPage.tsx
  ui/src/pages/LivePage.tsx
  ui/src/pages/OptionsPage.tsx
  ui/src/pages/ServersPage.tsx
  ui/src/pages/WaitingPage.tsx
  ui/src/stores/workspace.ts
Due: check-js-syntax, eslint, prettier-js

feat(ui): a Terminal screen, and Options in tabs
  dist/ui/app.css
  dist/ui/app.js
  ui/src/App.tsx
  ui/src/components/layout/Sidebar.tsx
  ui/src/pages/OptionsPage.tsx
  ui/src/pages/TerminalPage.tsx
  ui/src/stores/workspace.ts
Due: check-js-syntax, eslint, prettier-js

fix(demo): the fake host refused every pseudo-terminal
  scripts/demo-env.mjs
Due: none

feat(files): wire three dead context-menu actions, and rule off Options
  dist/ui/app.js
  src/control-plane.js
  ui/src/components/layout/Sidebar.tsx
  ui/src/lib/api.ts
  ui/src/pages/FilesPage.tsx
Due: check-js-syntax, eslint, prettier-js

fix: widen #localOp's kind so 'touch' typechecks
  src/control-plane.js
Due: check-js-syntax, eslint, prettier-js

fix(files): a file dropped on a folder now lands in it
  dist/ui/app.js
  scripts/test-drag-and-drop.mjs
  ui/src/pages/FilesPage.tsx
Due: check-js-syntax, eslint, prettier-js

feat(desktop): drop a file on the Dock icon and choose where it goes
  desktop/electron/electron-builder.yml
  desktop/electron/main.js
  dist/ui/app.css
  dist/ui/app.js
  scripts/demo-env.mjs
  src/control-plane.js
  ui/src/App.tsx
  ui/src/components/DroppedFilesDialog.tsx
Due: check-js-syntax, eslint, prettier-js

feat(ui): an introduction on a first run, and a door out of the empty queue
  dist/ui/app.css
  dist/ui/app.js
  scripts/test-first-run.mjs
  ui/src/App.tsx
  ui/src/components/Wizard.tsx
  ui/src/pages/WaitingPage.tsx
Due: check-js-syntax, eslint, prettier-js

docs: regenerate every image and the video against the current interface
  README.md
  docs/images/control-plane-dark.gif
  docs/images/control-plane.gif
  docs/images/v4-files-app.png
  docs/images/v4-files-browser.png
  docs/images/v4-health-app.png
  docs/images/v4-health-browser.png
  docs/images/v4-live-app.png
  docs/images/v4-live-browser.png
  docs/images/v4-servers-app.png
  docs/images/v4-servers-browser.png
  docs/images/v4-terminal-app.png
  docs/images/v4-terminal-browser.png
  docs/images/v4-waiting-app.png
  docs/images/v4-waiting-browser.png
  docs/videos/control-plane.mp4
  scripts/capture-screenshots.mjs
  scripts/record-demo.mjs
Due: none

build: notarization works — and the DMG needed submitting on its own
  docs/DISTRIBUTION.md
  scripts/verify-mac-build.sh
Due: none

Path conditions:
  check-js-syntax: any of: \.js$
  eslint: any of: \.js$
  prettier-js: any of: \.(js|json)$, but not: package-lock\.json
  check-python-syntax: any of: \.py$
  test-profiles: any of: profiles/.*\.json$|src/profile-loader\.js$
  test-aliases: any of: src/command-aliases\.js$
  test-hooks: any of: src/hooks-system\.js$
  validate-all-profiles: any of: profiles/.*\.json$
