Repository bvisible/mcp-ssh-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-js-syntax, eslint, prettier-js, check-python-syntax

.pre-commit-config.yaml:

repos:
  # JavaScript/Node.js checks
  - repo: local
    hooks:
      - id: check-js-syntax
        name: Check JavaScript syntax
        entry: node --check
        language: system
        files: '\.js$'
        
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: system
        files: '\.js$'
        require_serial: false
        
      - id: prettier-js
        name: Prettier JavaScript
        entry: npx prettier --write
        language: system
        files: '\.(js|json)$'
        exclude: 'package-lock\.json'

  # Python checks
  - repo: local
    hooks:
      - id: check-python-syntax
        name: Check Python syntax
        entry: python -m py_compile
        language: system
        files: '\.py$'
        
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        files: '\.py$'
        
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: '\.py$'
        
  # General checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: 'package-lock\.json'
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
      
  # Security check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

feat: Add advanced deployment features (v1.2.0)
  CHANGELOG.md
  README.md
  docs/DEPLOYMENT_GUIDE.md
  examples/deploy-workflow.py
  package.json
  src/deploy-helper.js
  src/index.js
  src/server-aliases.js
  tools/server_manager.py
Due: check-js-syntax, eslint, prettier-js, check-python-syntax

feat: Add profile-based configuration system with aliases and hooks
  .github/workflows/test.yml
  .hooks-config.json
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  docs/ALIASES_AND_HOOKS.md
  package.json
  profiles/README.md
  profiles/default.json
  profiles/docker.json
  profiles/frappe.json
  profiles/nodejs.json
  scripts/validate.sh
  src/command-aliases.js
  src/hooks-system.js
  src/index.js
  src/profile-loader.js
  tests/test-command-aliases.js
  tests/test-hooks.js
  tests/test-profiles.js
Due: check-js-syntax, eslint, prettier-js

add MCP server badge
  README.md
Due: none

feat: Implement logging system and rsync synchronization tool (Plan A)
  .gitignore
  debug/test-logger.js
  debug/test-sync.sh
  src/index.js
  src/logger.js
Due: check-js-syntax, eslint, prettier-js

Fix SSH session shell handling
  src/session-manager.js
  src/ssh-manager.js
Due: check-js-syntax, eslint, prettier-js

fix: resolve .env path with fallback chain instead of hardcoded __dirname (#16)
  src/index.js
Due: check-js-syntax, eslint, prettier-js

feat: add custom shell prompt pattern and auto-reply support (#20)
  src/config-loader.js
  src/index.js
  src/session-manager.js
Due: check-js-syntax, eslint, prettier-js

fix: add cross-platform Node wrapper for ssh-manager CLI (#22)
  cli/ssh-manager.js
  package.json
Due: check-js-syntax, eslint, prettier-js

feat: add ProxyCommand support for SOCKS5 and custom proxy connections
  CLAUDE.md
  README.md
  package.json
  src/config-loader.js
  src/index.js
Due: check-js-syntax, eslint, prettier-js

fix(proxycommand): normalize CLAUDE.md EOL and harden proxy command parsing
  CLAUDE.md
  src/index.js
Due: check-js-syntax, eslint, prettier-js

fix(cli): treat rsync as optional, only require it for `ssh-manager sync` (#22)
  cli/install.sh
  cli/lib/config.sh
  cli/ssh-manager
Due: none

fix(cli): reject hyphens in server names; flag legacy invalid entries (#25)
  cli/commands/server.sh
  cli/lib/config.sh
  cli/lib/menu.sh
Due: none

fix: replace fragile SSH session prompt detection with marker-based sync
  src/session-manager.js
Due: check-js-syntax, eslint, prettier-js

feat(windows): platform-aware command wrapping for Windows SSH targets
  src/index.js
Due: check-js-syntax, eslint, prettier-js

fix(windows): extend platform-aware cwd handling to ssh_execute_group and ssh_execute_sudo
  src/index.js
Due: check-js-syntax, eslint, prettier-js

docs(windows): add inline comments to ssh_execute_group cwd handling
  src/index.js
Due: check-js-syntax, eslint, prettier-js

docs(windows): clarify why !isWindows guard was removed from useSystemTimeout
  src/index.js
Due: check-js-syntax, eslint, prettier-js

fix: expand SSH algorithm list for compatibility with modern OpenSSH servers
  src/ssh-manager.js
Due: check-js-syntax, eslint, prettier-js

feat: per-server security modes (readonly / restricted) + audit log
  CHANGELOG.md
  README.md
  cli/commands/server.sh
  cli/lib/config.sh
  docs/SECURITY_MODES.md
  package.json
  src/audit.js
  src/config-loader.js
  src/index.js
  src/policy.js
  tests/test-policy.js
Due: check-js-syntax, eslint, prettier-js

test(e2e): add policy + audit harness against a real SSH server
  debug/test-e2e-policy.js
Due: check-js-syntax, eslint, prettier-js

chore: refactor docs and examples to use generic placeholders
  .hooks-config.json
  cli/migrate.sh
  debug/test-claude-code.sh
  debug/test_password_special_chars.sh
  docs/ALIASES_AND_HOOKS.md
  docs/DEPLOYMENT_GUIDE.md
  examples/deploy-workflow.py
  mcp-ssh-manager-setup.md
Due: prettier-js, check-python-syntax

fix: robust ssh ping parsing on windows
  src/ssh-manager.js
Due: check-js-syntax, eslint, prettier-js

fix: use echo ping and add ping parser tests
  package.json
  src/ssh-manager.js
  tests/test-ssh-ping.js
Due: check-js-syntax, eslint, prettier-js

feat: reload SSH server config when files change
  package.json
  src/config-loader.js
  src/index.js
  src/server-config-manager.js
  tests/test-server-config-manager.js
Due: check-js-syntax, eslint, prettier-js

fix: exit on stdin EOF / SIGTERM so stdio server isn't orphaned
  src/index.js
Due: check-js-syntax, eslint, prettier-js

chore: add calibrated knip.json for dead-code checks
  .npmignore
  knip.json
Due: prettier-js

refactor: remove dead code (unused exports) flagged by knip
  src/command-aliases.js
  src/config.js
  src/deploy-helper.js
  src/hooks-system.js
  src/logger.js
  src/policy.js
  src/profile-loader.js
  src/server-aliases.js
  src/server-groups.js
  src/session-manager.js
  src/ssh-key-manager.js
  src/tool-config-manager.js
  src/tunnel-manager.js
Due: check-js-syntax, eslint, prettier-js

refactor: eslint clean — remove unused imports/vars and resulting dead code
  src/backup-manager.js
  src/config-loader.js
  src/config.js
  src/database-manager.js
  src/health-monitor.js
  src/index.js
  src/server-groups.js
  src/session-manager.js
  src/ssh-manager.js
  src/tunnel-manager.js
Due: check-js-syntax, eslint, prettier-js

ci: add blocking knip dead-code check to quality workflow
  .github/workflows/quality.yml
Due: none

fix(db): report the real ssh_db_query row_count, not the raw line count
  package.json
  src/database-manager.js
  src/index.js
  tests/test-database-row-count.js
Due: check-js-syntax, eslint, prettier-js

feat: add optional group field to server config
  CHANGELOG.md
  CLAUDE.md
  README.md
  src/config-loader.js
  src/index.js
  tests/test-config-field-names.js
Due: check-js-syntax, eslint, prettier-js

feat: native support and safety defaults for Hermes Agent integration
  README.md
  cli/commands/hermes-setup.js
  cli/ssh-manager.js
  docs/HERMES_INTEGRATION_GUIDE.md
  package.json
  src/config.js
  src/index.js
  src/tool-config-manager.js
  tests/test-hermes-adapter.js
Due: check-js-syntax, eslint, prettier-js

Add MCP Toplist rank badge
  README.md
Due: none

feat(groups): resolve server groups from the config `group` field
  CHANGELOG.md
  CLAUDE.md
  README.md
  cli/lib/menu.sh
  package.json
  src/config-loader.js
  src/index.js
  src/server-groups.js
  tests/test-config-field-names.js
  tests/test-server-groups.js
Due: check-js-syntax, eslint, prettier-js

docs: move the MCP Toplist badge into the centered badge block
  README.md
Due: none

fix: report the real package version to MCP clients + upgrade the SDK
  CHANGELOG.md
  package.json
  src/index.js
  src/session-manager.js
  src/tunnel-manager.js
Due: check-js-syntax, eslint, prettier-js

feat(quality): typecheck JSDoc with tsc, and fix the two bugs it found
  .github/workflows/quality.yml
  CHANGELOG.md
  package.json
  src/backup-manager.js
  src/config-loader.js
  src/database-manager.js
  src/index.js
  src/server-config-manager.js
  src/ssh-manager.js
  src/tunnel-manager.js
  tests/test-tunnel-listen.js
  tsconfig.json
Due: check-js-syntax, eslint, prettier-js

fix(ci): pin typescript to ^6 for knip's peer range, plus two more type fixes
  package.json
  src/index.js
  src/server-config-manager.js
Due: check-js-syntax, eslint, prettier-js
