Repository bvisible/mcp-ssh-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-js-syntax, eslint, prettier-js, check-python-syntax, test-profiles, test-aliases, test-hooks, validate-all-profiles

check-js-syntax:
  name: Check JavaScript syntax
  entry: node --check
  language: system

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: system
  require_serial: false

prettier-js:
  name: Prettier JavaScript
  entry: npx prettier --write
  language: system

check-python-syntax:
  name: Check Python syntax
  entry: python -m py_compile
  language: system

test-profiles:
  name: Test Profile System
  entry: node tests/test-profiles.js
  language: system
  pass_filenames: false

test-aliases:
  name: Test Command Aliases
  entry: node tests/test-command-aliases.js
  language: system
  pass_filenames: false

test-hooks:
  name: Test Hooks System
  entry: node tests/test-hooks.js
  language: system
  pass_filenames: false

validate-all-profiles:
  name: Validate all profile JSON files
  entry: bash -c 'for f in profiles/*.json; do python -m json.tool "$f" > /dev/null || exit 1; done'
  language: system
  pass_filenames: false

release: 4.0.0-beta.2, a second preview carrying the 3.8.6 security fixes
  CHANGELOG.md
  README.md
  desktop/electron/electron-builder.yml
  desktop/electron/package-lock.json
  desktop/electron/package.json
  docs/ALIASES_AND_HOOKS.md
  docs/MIGRATION.md
  docs/SECURITY_MODES.md
  package-lock.json
  package.json
  scripts/verify-mac-build.sh
  server.json
Due: prettier-js

fix(security): 3.8.6 — six advisories, backported from V4
  .gitignore
  .hooks-config.json
  .npmignore
  CHANGELOG.md
  README.md
  docs/ALIASES_AND_HOOKS.md
  docs/SECURITY_MODES.md
  package-lock.json
  package.json
  profiles/default.json
  server.json
  src/backup-manager.js
  src/command-aliases.js
  src/config-paths.js
  src/database-manager.js
  src/deploy-helper.js
  src/hooks-system.js
  src/index.js
  src/logger.js
  src/policy.js
  src/profile-loader.js
  src/server-aliases.js
  src/shell-quote.js
  src/shell-segments.js
  src/ssh-key-manager.js
  src/ssh-manager.js
  src/user-state.js
  tests/test-backup-monitor-injection.js
  tests/test-database-injection.js
  tests/test-database-query-quoting.js
  tests/test-hooks.js
  tests/test-host-key-verification.js
  tests/test-policy.js
Due: check-js-syntax, eslint, prettier-js, test-profiles, test-aliases, test-hooks, validate-all-profiles

test(hooks): read the old settings file instead of checking it first
  tests/test-hooks.js
Due: check-js-syntax, eslint, prettier-js

test(hooks): compare the package file's bytes instead of checking it exists
  tests/test-hooks.js
Due: check-js-syntax, eslint, prettier-js

ci(release): prove the upgrade from 3.8.6 too, before publishing 4.0.0
  .github/workflows/release.yml
Due: none

fix(deps): zod 4.6.5, what npm already installs for our users
  package-lock.json
  package.json
Due: prettier-js

docs(spec): from npm to the desktop app in one step, and a CLI worth looking at
  docs/superpowers/specs/2026-10-08-desktop-from-npm-and-cli-design.md
Due: none

docs(skills): add a usage skill for the five core tools
  skills/ssh-manager/SKILL.md
Due: none

Path conditions:
  check-js-syntax: any of: \.js$
  eslint: any of: \.js$
  prettier-js: any of: \.(js|json)$, but not: package-lock\.json
  check-python-syntax: any of: \.py$
  test-profiles: any of: profiles/.*\.json$|src/profile-loader\.js$
  test-aliases: any of: src/command-aliases\.js$
  test-hooks: any of: src/hooks-system\.js$
  validate-all-profiles: any of: profiles/.*\.json$
