Repository bvisible/mcp-ssh-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-js-syntax, eslint, prettier-js, check-python-syntax, test-profiles, test-aliases, test-hooks, validate-all-profiles

check-js-syntax:
  name: Check JavaScript syntax
  entry: node --check
  language: system

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: system
  require_serial: false

prettier-js:
  name: Prettier JavaScript
  entry: npx prettier --write
  language: system

check-python-syntax:
  name: Check Python syntax
  entry: python -m py_compile
  language: system

test-profiles:
  name: Test Profile System
  entry: node tests/test-profiles.js
  language: system
  pass_filenames: false

test-aliases:
  name: Test Command Aliases
  entry: node tests/test-command-aliases.js
  language: system
  pass_filenames: false

test-hooks:
  name: Test Hooks System
  entry: node tests/test-hooks.js
  language: system
  pass_filenames: false

validate-all-profiles:
  name: Validate all profile JSON files
  entry: bash -c 'for f in profiles/*.json; do python -m json.tool "$f" > /dev/null || exit 1; done'
  language: system
  pass_filenames: false

feat(desktop): update itself from GitHub Releases
  .github/workflows/release-desktop.yml
  desktop/electron/asar-up/main.js
  desktop/electron/asar-up/package.json
  desktop/electron/asar-up/resources/trayTemplate.png
  desktop/electron/asar-up/resources/trayTemplate@2x.png
  desktop/electron/electron-builder.yml
  desktop/electron/package-lock.json
  desktop/electron/package.json
Due: check-js-syntax, eslint, prettier-js

chore: remove an extracted asar committed by mistake
  .gitignore
  desktop/electron/asar-up/main.js
  desktop/electron/asar-up/package.json
  desktop/electron/asar-up/resources/trayTemplate.png
  desktop/electron/asar-up/resources/trayTemplate@2x.png
Due: check-js-syntax, eslint, prettier-js

feat(ui): the importer people can actually reach
  dist/ui/app.css
  dist/ui/app.js
  scripts/test-import-ui.mjs
  src/control-plane.js
  ui/src/components/Wizard.tsx
  ui/src/components/servers/ImportDialog.tsx
  ui/src/lib/api.ts
  ui/src/pages/ServersPage.tsx
  ui/src/stores/workspace.ts
Due: check-js-syntax, eslint, prettier-js

ci: let the desktop workflow rehearse without creating a release
  .github/workflows/release-desktop.yml
Due: none

ci: add the desktop release workflow
  .github/workflows/release-desktop.yml
Due: none

ci: add the desktop release workflow (#77)
  .github/workflows/release-desktop.yml
Due: none

ci: the macOS signing steps were skipping themselves
  .github/workflows/release-desktop.yml
Due: none

fix(build): the desktop build runs on Windows
  desktop/electron/prepare-engine.mjs
Due: none

ci: $RUNNER_TEMP, because `runner` does not exist yet at job level
  .github/workflows/release-desktop.yml
Due: none

ci: lint the workflows, since three release runs died on what a linter finds
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

fix(build): reach npm on Windows without spawning a .cmd
  desktop/electron/prepare-engine.mjs
Due: none

fix(desktop): a file dropped on a cold Dock icon is no longer lost
  scripts/verify-mac-build.sh
  src/control-plane.js
  tests/test-control-plane.js
  ui/src/App.tsx
Due: check-js-syntax, eslint, prettier-js

fix(ui): one event stream for the page, not one per subscriber
  ui/src/lib/api.ts
Due: none

build(ui): rebuild the bundled interface
  dist/ui/app.js
Due: check-js-syntax, eslint, prettier-js

feat(terminal): a shell on this machine, and tabs to keep several open
  desktop/electron/after-pack.cjs
  desktop/electron/electron-builder.yml
  desktop/electron/main.js
  desktop/electron/package-lock.json
  desktop/electron/package.json
  dist/ui/app.css
  dist/ui/app.js
  scripts/verify-mac-build.sh
  src/control-plane.js
  src/logger.js
  tests/test-terminal.js
  ui/src/App.tsx
  ui/src/components/layout/SessionTabs.tsx
  ui/src/lib/api.ts
  ui/src/pages/ShellPage.tsx
  ui/src/pages/TerminalPage.tsx
  ui/src/stores/workspace.ts
Due: check-js-syntax, eslint, prettier-js

docs: the local shell, where it lives and what it does not cost
  README.md
  ROADMAP-V4.md
  tests/test-terminal.js
Due: check-js-syntax, eslint, prettier-js

fix(ui): finishing the introduction now finishes it
  dist/ui/app.css
  dist/ui/app.js
  scripts/test-preferences-persist.mjs
  src/control-plane.js
  tests/test-control-plane.js
  ui/src/components/Wizard.tsx
  ui/src/components/servers/MigrationBanner.tsx
  ui/src/lib/api.ts
  ui/src/lib/preferences.ts
  ui/src/main.tsx
  ui/src/stores/settings.store.ts
  ui/src/stores/theme.ts
  ui/src/stores/workspace.ts
  ui/vite.config.ts
Due: check-js-syntax, eslint, prettier-js

Prepare isolated candidate testing and fix recovery edge cases
  .gitattributes
  README.md
  desktop/electron/main.js
  docs/FINAL-TEST-V4.md
  docs/TESTING-V4.md
  package.json
  scripts/preview-candidate.mjs
  src/index.js
  src/secret-store.js
  tests/test-preview-candidate.js
  tests/test-security-boundary.js
  tests/test-vault-recovery.js
Due: check-js-syntax, eslint, prettier-js

Fix cross-platform candidate builds and preserve SFTP navigation
  desktop/electron/after-pack.cjs
  desktop/electron/package.json
  dist/ui/app.js
  docs/TESTING-V4.md
  scripts/preview-candidate.mjs
  scripts/smoke-desktop.mjs
  tests/test-preview-candidate.js
  ui/src/pages/FilesPage.tsx
  ui/tests/files.spec.ts
  ui/tests/fixtures.ts
Due: check-js-syntax, eslint, prettier-js

Validate installed Linux packages and cross-platform native terminals
  .github/workflows/release-desktop.yml
  desktop/electron/smoke-test.mjs
  docs/DISTRIBUTION.md
  docs/FINAL-TEST-V4.md
  docs/TESTING-V4.md
  package.json
  scripts/smoke-desktop.mjs
  tests/test-desktop-smoke.js
Due: check-js-syntax, eslint, prettier-js

Use portable ESM preload URLs in published upgrade tests
  scripts/test-upgrade-from-published.mjs
Due: none

Exclude colliding desktop diagnostics from release artifacts
  .github/workflows/release-desktop.yml
  docs/FINAL-TEST-V4.md
Due: none

Fix interactive server editing selection
  cli/lib/menu.sh
  package.json
  tests/test-cli-edit-server.js
Due: check-js-syntax, eslint, prettier-js

feat(ssh): announce AI_AGENT=mcp-ssh-manager on every command channel
  .env.example
  CHANGELOG.md
  CLAUDE.md
  README.md
  package.json
  src/config-loader.js
  src/ssh-manager.js
  tests/test-agent-announce.js
  tests/test-config-field-names.js
  tests/test-sudo-stdin.js
Due: check-js-syntax, eslint, prettier-js

feat(ssh): announce AI_AGENT=mcp-ssh-manager on every command channel
  .env.example
  CLAUDE.md
  package.json
  src/config-loader.js
  src/ssh-manager.js
  tests/test-agent-announce.js
  tests/test-config-field-names.js
  tests/test-sudo-stdin.js
Due: check-js-syntax, eslint, prettier-js

fix(cli): edit the server the menu actually selected (#83)
  cli/lib/menu.sh
  package.json
  tests/test-cli-edit-server.js
Due: check-js-syntax, eslint, prettier-js

feat(ssh): announce AI_AGENT on request, and never for a person (#84)
  .env.example
  CLAUDE.md
  README.md
  src/config-loader.js
  src/control-plane.js
  src/index.js
  src/ssh-connection.js
  src/ssh-manager.js
  tests/test-agent-announce.js
  tests/test-config-field-names.js
  tests/test-working-directory.js
Due: check-js-syntax, eslint, prettier-js

fix(deps): hono 4.13.9, clearing three moderate advisories
  package-lock.json
Due: none

release: 4.0.0-rc.1, a preview published on GitHub only
  .npmignore
  CHANGELOG.md
  README.md
  desktop/electron/package-lock.json
  desktop/electron/package.json
  docs/AUDIT-V4-2026-09-07.md
  docs/MIGRATION.md
  docs/TESTING-V4.md
  package-lock.json
  package.json
  server.json
Due: prettier-js

chore: keep AGENT_NAME and announcesAgent private to ssh-manager.js
  src/ssh-manager.js
Due: check-js-syntax, eslint, prettier-js

fix(deps): js-yaml 4.3.2 (dev), so a full npm audit is clean
  package-lock.json
Due: none

release: the preview is 4.0.0-beta.1, and its update metadata is accepted
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  desktop/electron/finalize-artifacts.mjs
  desktop/electron/package-lock.json
  desktop/electron/package.json
  docs/DISTRIBUTION.md
  docs/MIGRATION.md
  docs/TESTING-V4.md
  package-lock.json
  package.json
  server.json
  tests/test-release.js
Due: check-js-syntax, eslint, prettier-js

fix(desktop): quitting no longer hangs while an agent is connected
  CHANGELOG.md
  desktop/electron/smoke-test.mjs
  scripts/smoke-desktop.mjs
  src/control-plane.js
  tests/test-control-plane.js
Due: check-js-syntax, eslint, prettier-js

fix: what CodeQL found in V4, and two defects hiding behind its findings
  cli/control.js
  scripts/publish-desktop.mjs
  src/command-log.js
  src/control-plane.js
  src/server-groups.js
  tests/test-control-plane.js
  tests/test-groups-persistence.js
  tests/test-notify.js
Due: check-js-syntax, eslint, prettier-js

fix(deps): clear the advisories published since beta.1
  desktop/electron/package-lock.json
  desktop/electron/package.json
  knip.jsonc
  package-lock.json
  package.json
  ui/package-lock.json
Due: prettier-js

fix: what our own use found in V4 — #88, #89, #90
  knip.jsonc
  package.json
  src/config-paths.js
  src/index.js
  src/ssh-manager.js
  tests/test-auth-errors.js
  tests/test-env-file-choice.js
Due: check-js-syntax, eslint, prettier-js

fix(security): close four advisories, and the gaps found beside them
  .gitignore
  .hooks-config.json
  .npmignore
  profiles/default.json
  src/backup-manager.js
  src/command-aliases.js
  src/config-paths.js
  src/database-manager.js
  src/deploy-helper.js
  src/hooks-system.js
  src/index.js
  src/logger.js
  src/policy.js
  src/profile-loader.js
  src/server-aliases.js
  src/shell-segments.js
  src/user-state.js
  tests/test-backup-monitor-injection.js
  tests/test-database-injection.js
  tests/test-database-query-quoting.js
  tests/test-hooks.js
  tests/test-policy.js
Due: check-js-syntax, eslint, prettier-js, test-profiles, test-aliases, test-hooks, validate-all-profiles

Path conditions:
  check-js-syntax: any of: \.js$
  eslint: any of: \.js$
  prettier-js: any of: \.(js|json)$, but not: package-lock\.json
  check-python-syntax: any of: \.py$
  test-profiles: any of: profiles/.*\.json$|src/profile-loader\.js$
  test-aliases: any of: src/command-aliases\.js$
  test-hooks: any of: src/hooks-system\.js$
  validate-all-profiles: any of: profiles/.*\.json$
